.toDoList {
    background:rgba(24, 36, 92, 0.78);
    border:2px solid rgba(70, 126, 255, 0.35);
    box-shadow: inset 0 0 12px rgba(63, 95, 214, 0.35), 0 0 12px rgba(63, 208, 255, 0.25);
    ul {
        list-style:none;
        padding:0;
        margin:1rem 0;
        li {
            font-family: var(--font-pixel-mix);
            font-size:0.9rem;
            color:var(--color-text-primary);
            padding:0.5rem 1rem;

            img {
                transform:translateY(4px);
            }

            &.completed {
                text-decoration:line-through;
                opacity:0.7;
            }
        }
    }
}
