
.postContent {
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--color-text-primary);
    color: #fff;

    padding:0 2rem;

    h1, h2, h3, h4, h5, h6 {
        color: #d5d1ff;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
        line-height: 1.3;
        font-family: var(--font-pixel-mix);
    }
    h1 { font-size: 1.4rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 1rem; }
    h4 { font-size: 0.9rem; }
    h5 { font-size: 0.8rem; }
    h6 { font-size: 0.7rem; }

    p { margin: 1rem 0; font-family: var(--font-miracode); font-size:0.9rem; }

    a {
        color: var(--color-accent-bright);
        text-decoration: underline;
        font-weight:700;
        cursor: var(--pointer-cursor-url), auto;
        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        font-family: var(--font-miracode);
        color:var(--color-accent);
        color: #af93f7;
        font-size:0.9rem;
        margin:0 0.2rem;
        font-weight:400;
    }

    ul, ol {
        margin: 1rem 0 1rem 1.5rem;
        padding: 0; font-size:0.9rem;
    }
    
    ol {
        counter-reset: item;
        
        li {
            display: block;
            position: relative;
            padding-left: 2rem; font-size:0.9rem;
            font-family: var(--font-miracode);

            
            &::before {
                content: counter(item) ".";
                counter-increment: item;
                transform:translateY(-0.2rem);
                position: absolute;
                left: 0;
                font-family: var(--font-starborn);
                font-family: var(--font-pixel-mix);
                color: var(--color-accent);
                color: #c4baff;
                font-weight: bold;
            }
        }
    }

    ul {
        li {
            position: relative;
            padding-left: 1.5rem;
            list-style: none;
            font-family: var(--font-miracode); font-size:0.9rem;
            
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.2rem;
                width: 1.1rem;
                height: 1.1rem;
                transform:translateY(-0.2rem);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    li { margin: 0.4rem 0; }

    blockquote {
        text-align:center;
        background: linear-gradient(135deg, rgba(7, 6, 11, 0.85), rgb(3, 3, 3));
        color: var(--color-text-primary);
        border:1px solid rgba(70, 126, 255, 0.35);
        box-shadow: 0.125rem 0.125rem 0 0 rgba(68, 132, 255, 0.35);
        border-radius:0.2rem;
        padding: 2rem;
        margin: 2rem 0 2rem 0;
        border-radius: 0.3rem;
        font-style: italic; font-size:0.9rem;

        p { 
            font-size:1.1rem;
            margin:0; font-size:0.9rem;
            font-family: var(--font-miracode);
        }
    }

    hr {
        border: 1px solid rgba(148, 114, 196, 0.35);
    }

    pre {
        background: #000000;
        color: #58ff74;
        padding: 1rem;
        border-radius: 0.2rem;
        overflow: auto;
        margin: 1rem 0;
        font-size:0.9rem;
        font-family: var(--font-miracode);
    }

    img {
        display:block;
        max-width: 90%;
        max-height: 80dvh;
        height: auto;
        margin:1rem auto;
        margin-top:2rem;
        border: 0.125rem solid rgba(70, 126, 255, 0.35);
        box-shadow: 0.125rem 0.125rem 0 0 rgba(68, 132, 255, 0.35);
        border-radius: 0.5rem;
    }
}
