/* header styles */

.headerContent {
    position:relative;
    box-shadow:0 0 10px 5px rgba(153, 146, 255, 0.719);

    background:rgb(35, 6, 252);
    background:rgb(13, 5, 72);
    background: linear-gradient(120deg, #081049, #492fa6, #63beef);
    background: linear-gradient(120deg, #242485, #7474bf, #7c7ccc);
    background: linear-gradient(120deg, #4747a0, #2f2f72, #0f0f20);
        
    .headerContentInner {
        position:relative;
        z-index:3;
        padding:1rem;
        padding-top:1.3rem;

        .headerTitle {
            background: linear-gradient(90deg, #4ad5ff, #8f6fff, #3aa4ff);
            background: linear-gradient(90deg, #4ad5ff, #beacff);
            background: linear-gradient(90deg, #ffffff, #e3d2ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            width:fit-content;
            text-shadow: 0 0 20px rgba(74, 169, 255, 0.4);
        }
    }

    .backgroundContainer {
        position:absolute;
        top:0;
        right:0;
        width:100%;
        height:100%;
        overflow:hidden;
        img {
            position:absolute;
            right:0;
            top:50%;
            transform:translate(0%, -30%) rotate(50deg);
            width:500px;
            height:auto;
        }
    }
}

.headerTitle {
    font-family: var(--font-deadcrt);
    font-size: 1.8rem;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.05em;
}

.headerSubtitle {
    margin:0;
    margin-top: 2rem;
    display:block;
    font-size: 1.2rem;
    padding-left:0.2rem;
    padding-top:0.5rem;
    padding-left:0;
    max-width:35rem;
    text-wrap:wrap;

    .headerSubtitleText {
        display:inline-block;
        font-size:0.8rem;
        font-family: var(--font-pixel-mix);
        font-weight: 700;
        color:var(--color-accent-bright);
        color: #cabeff;
        color: #ffffff;
        text-shadow:0 0 20px 20px rgb(199, 189, 255);
        margin-top:1rem;
    }

    .headerSubtitleText2 {
        font-family: var(--font-pixel-mix);
        font-weight: 700;
        font-size:0.9rem;
        color:var(--color-accent);
        color: #85a3ff;
        color: #9fb7ff;
        margin-top:0.8rem;
        max-width:20rem;
        text-wrap:wrap;
        text-shadow:0 0 8px rgba(126, 92, 255, 0.4);
    }
}

@keyframes pulse {
    0% {
        transform:rotate(10deg) scale(1);
    }
    50%  {
        transform:rotate(-10deg) scale(1.2);
    }
    100% {
        transform:rotate(10deg) scale(1);
    }
}

.headerDecorTopRight,
.headerDecorBottomLeft {
    position: absolute;
    z-index: 1000;

    animation: pulse 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}
.headerDecorTopRight {
    top: -6rem;
    right: -2rem;
    transform: rotate(-10deg);

    img {
        height:200px;
        width:200px;
    }
}
.headerDecorBottomLeft {
    bottom: -1rem;
    left: -0.5rem;
    transform: rotate(8deg);
}
