@keyframes expandOutline {
    0% {
        width:calc(100% + 8px);
        transform:translate(calc(-50%), -50%) scale(0.8);
        border-color:#ffd8ed;
    }
    100% {
        width:calc(100% + 22px);
        transform:translate(calc(-50%), -50%) scale(1);
        border-color:#7d3de4;
    }
}

.postDetailsContainer {
    margin-top:1rem;

    .backToAllPosts {
        display:block;
        width:fit-content;
        margin-top:0rem;
        a {
            position:relative;
            display:block;
            width:fit-content;
            color:#7d3de4;
            text-decoration:none;
            display:flex;
            align-items:center;
            gap:0.2rem;
            cursor: var(--pointer-cursor-url), auto;
            img {
                width:16px;
            }
        }

        &:hover {

            a::after {
                content:"";
                position:absolute;
                top:50%;
                left:50%;
                height:calc(100% + 5px);
                width:calc(100% + 22px);
                border-radius:3px;
                transform:translate(calc(-50%), -50%);
                outline: 1px solid #7d3de4;
                animation: expandOutline 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            a img {
                transition:all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                //transform:translateX(-5px);
            }
        }
    }

    .postDetails {
        margin-top:0.2rem;
        display:flex;
        align-items:center;
        gap:1rem;
        img {
            filter: hue-rotate(270deg);
            transform:translateY(-2px);
            margin-right:0.2rem;
        }
        .postDetail {
            display:flex;
            align-items:center;
            gap:0.2rem;
            color:#e8ddff;
            font-weight:700;
            font-family: var(--font-miracode);
            font-size:0.8rem;
        }
    }
}

.postActions {
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    gap:0.5rem;
    margin:1rem;
    .postAction {
        display:flex;
        height:35px;
        width:35px;
        border:2px solid #ccd7ff;
        display:flex;
        background:#ffffff;
        align-items:center;
        justify-content:center;
        border-radius:50%;
        //cursor: var(--pointer-cursor-url), auto;
        img {
            width:16px;
            filter: hue-rotate(270deg) brightness(0.5);
        }

        &:hover {
            box-shadow: 2px 2px 0 0px #3e5198;
            transform:translate(-2px, -2px);
            transition:all 0.1s ease-in-out;
            cursor: var(--pointer-cursor-url), auto;
        }

        &.liked {
            background:#ccd7ff;
            //cursor: var(--default-cursor-url), auto;
            &:hover {
                box-shadow:none;
                transform:none;
            }
        }
    }
}

.postTags {

    display:flex;
    gap:0.5rem;
    flex-wrap:wrap;
    margin-top:1rem;
    align-items:center;
    font-family: var(--font-pixel-mix);
    color: #dcd6ff;
    font-weight:700;

    .postTag {
        display:block;
        text-decoration:none;
        background:#514a7e;
        border: 1px solid #dce2ff;
        padding:0.5rem 1rem;
        border-radius:0.2rem;
        color:#fff;
        font-weight:700;
        font-family: var(--font-pixel-mix);
        font-size:0.8rem;
        z-index:1;
        cursor: var(--pointer-cursor-url), auto;
        
        &:hover {
            z-index:2;
            border: 1px solid #fff;
            outline: 1px solid #7461a5;
        }
    }
}

.postContent {

    margin:2.5rem 0;
    padding:1rem 0;
    background:#ffffffbc;
    background: linear-gradient(135deg, rgba(15, 15, 15, 0.932), rgb(18, 18, 18));
    backdrop-filter:blur(10px);
    border:1px solid #bcaee7;
    border-radius:0.5rem;
    padding-bottom:2rem;
    position: relative;
}

@mixin inputarea {
    padding:0.5rem;
    border:1px solid #6c585f;
    border-radius:4px;
    font-size:1rem;
    font-family: var(--font-nunito);

    &:focus {
        outline:2px solid #e4ddff;
    }
}

.commentsOuter {

    padding-bottom:2rem;

    .commentsFormOuter {
        display:flex;
        padding-bottom:1rem;
        margin-top:2rem;

        .commentsFormHeader {
            width:10rem;
            padding:0.5rem 1rem;
            margin-left:1rem;
            h3 {
                margin:0;
                font-family: var(--font-miracode);
            }
        }

        .commentsForm {
            display:flex;
            flex-direction:column;
            gap:0.5rem;
            flex:1;
            margin-left:1rem;
            padding:0rem;
            width: calc(100% - 5rem);
            label {
                font-size:0.9rem;
                color:#c2bdff;
                margin-top:0.5rem;
                font-family: var(--font-miracode);
            }
            input, textarea {
                width:calc(100% - 5rem);
                font-family: var(--font-miracode);
                background: #070808;
                color: #ccccff;
                @include inputarea;
            }
            textarea {
                height:10rem;
            }
            .commentsFormButton {
                display:flex;
                margin-top:1rem;
                gap:0.5rem;
                justify-content:center;
            }
        }
        .commentsFormImage {
            display:flex;
            align-items:center;
            justify-content:center;
            img {
                width:12rem;
                height:auto;
            }
        }
    }

    .commentsList {
        margin-top:1rem;

        .comment {
            margin:1rem;
            padding:1rem;

            border:1px solid #ffcdfa;

            &.adminComment {
                background:#ffe3f1;
                border:1px solid #db2c7d;
            }

            .commentMeta {
                display:flex;
                gap:1rem;
                .commentName {
                    font-weight:700;
                }
            }
            
            .commentReplyLabel {
                font-weight:700;
            }

            .commentActions {
                display:flex;
                gap:0.5rem;
                margin-top:1rem;
            }

            .commentReplyForm {
                textarea {
                    @include inputarea;
                    width:calc(100% - 1rem);
                    margin-bottom:0.5rem;
                }
            }

            .commentReply {
                margin:1rem 0;
                margin-bottom:0;

                background:#ffe3f1;
                border:1px solid #db2c7d;

                .commentMeta {
                    gap:0.3rem;
                    color:#db2c7d;
                    .commentName {
                        font-weight:400;
                    }
                }
            
                .commentReplyLabel {
                    font-weight:400;
                }

                .commentActions {
                    margin-bottom:0;
                }
            }
        }
    }
}