.window {
    box-shadow:0 0 5px 2px rgba(153, 146, 255, 0.525);
    .windowHeader {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:5px;
        background:linear-gradient(90deg, rgba(55, 92, 220, 0.95), rgba(125, 64, 255, 0.85)); 
        background:linear-gradient(90deg, rgba(127, 103, 231, 0.95), rgba(219, 215, 255, 0.82)); 
        background:linear-gradient(90deg, rgba(99, 117, 255, 0.95), rgba(235, 235, 255, 0.82)); 
        border-bottom:1px solid rgba(8, 14, 42, 0.9);
        box-shadow:0 0 10px rgba(88, 135, 255, 0.35);
        box-shadow:0 0 10px 5px rgba(153, 146, 255, 0.719);

        font-family: var(--font-nunito);
        font-weight:400;
        color:#f3f6ff;
        text-shadow:0 0 6px rgba(63, 208, 255, 0.45);

        .windowHeaderText {
            font-family: var(--font-deadcrt);
            font-size:0.7rem;
            margin-left:0.5rem;
            letter-spacing:0.05em;
        }

        .windowButtons {
            display:flex;
            gap:0;

            .windowButtonContainer {
                padding:0;

                &:last-child {
                    margin-left:5px;
                }

                .windowButton {
                    width:10px;
                    height:10px;
                    filter: hue-rotate(180deg) saturate(1.2);

                    &.windowButtonMinimize {
                        transform:translateY(3px);
                    }
                }
            }
        }
    }
}
