.navFooter {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 0.5rem;
    transform:translateY(3px);

    .copyright {
        font-size:0.8rem;
        color:#8a74f8;
        font-family: var(--font-miracode);
    }

    .socialMedia {
        display:flex;
        align-items:center;
        a {
            display:block;
            height:fit-content;
            img {
                height:25px;
                width:25px;
                cursor:var(--pointer-cursor-url), pointer;
            }
        }
    }
}